@import url(./__description/cards__description.css);
@import url(./__img/cards__img.css);
@import url(./__item/cards__item.css);
@import url(./__title/cards__title.css);

.cards {
  display: flex;
  flex-wrap: wrap;
  width: 920px;
}


