.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: #2F80ED;
  position: absolute;
  top: 64px;
  right: 0;
  z-index: -1;
  transform: rotate(-15deg);
  animation: rotation 20s linear infinite;
}
