@import url(./__logo/resources__logo.css);
@import url(./__logo-zone/resources__logo-zone.css);
@import url(../section-title/section-title.css);
@import url(../section-subtitle/section-subtitle.css);
.resources {
  margin: 0 auto;
  position: relative;
  padding-top: 100px;
}
