@import url(../cards/cards.css);
@import url(../section-title/section-title.css);
@import url(../section-subtitle/section-subtitle.css);
.techniques {
  position: relative;
  margin: 0 auto;
  width: 80%;
}
