@import url(../kaufman/__triangle/kaufman__triangle.css);
.kaufman {
  margin: auto;
  position: relative;
  background-color: #1f1f1f;
  overflow: hidden;
  z-index: 0;
  padding-bottom: 90px;
  padding-top: 90px;
}
