@import url(./__triangle/kaufman__triangle.css);

.kaufman {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  background-color: #1F1F1F;
  position: relative;
}


